.dashPlayer {
	background-color: var(--bg);
	display: flex;
	justify-content: space-between;
	align-items: strech;
}

.player-controls {
	  display: flex;
  gap: 8px; /* space between buttons */
	flex-direction: column;
  justify-content: center;
	width: 100%
}

input[type="range"] {
  width: 100%;
  height: 4px;
  outline: none;
	accent-color: var(--brand);
}

