 .playlist {
    background-color: var(--bg);
	min-width: 200px;
	min-height: 200px;
 }

 .current-song {
	 color: var(--brand);
 }

.no-dots {
    list-style-type: none;
    padding-left: 0; /* optional, removes indentation */
}
